* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
/*NESTE MOMENTO VAMOS MANIPULAR O FLEX*/
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  min-height: 40px;
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* quando diminui ele quebra os elementos dando responsividade*/
  padding: 30px;
  gap: 8px 15px;
}

.logo-glx{
  width: 180px;
}
.span-logo1{
color: rgb(211, 223, 235);


}
.span-logo2{
color: rgb(226, 17, 115);

}
.headerBtnGroup {
  display: flex;
  gap: 15px;
}
.navBtn {
  font-size: 16px;
  padding: 6px;
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  display: none;
}
.navBtn:hover {
  border-bottom: 2px solid black;
}
.sectionTitle {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding-top: 20px;
}
.sectionDescription {
  text-align: center;
  color: #383838;
}
/*NESTE MOMENTO VAMOS MANIPULAR O GRID*/
.gridContainer {
  display: grid;
  grid-template-columns: 3fr 1fr; /*3 frames de espaçamento para o gride principao e a outra apenas 1 (side bar)*/
  grid-template-areas: "mainContent sidebarContent";
  padding: 20px;
  flex: 1 0 auto; 
}
.mainCardImg {
  width:100%;
  height:180px;
 /* height: 100%; (colocado apenas para ter uma vizualização melhor  (depois removida)*/
  border-radius:10px;
}
.sidebarCardImg { 
  width:100%; 
  height: 180px;
  border-radius:10px;
}
.categoryCard {
  width: 280px;
  height: 380px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
} 
/*kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk*/

.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  grid-area: mainContent;
}
.categoryCard:hover {
  border-color: black;
}

.mainCategorycardTitle {
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
}
.mainCategoryCardDescription {
  padding: 6px;
}
.sidebarContent {
  background-color: #383838;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-width: 300px;                  /*para ele quebrar até 300px na hora de diminuir a tela */
  grid-area: sidebarContent;        /*para garantir a area grid nessa divi*/
  gap: 20px; 
}
.sidebarCard {
  width: 75%;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.05s;
  cursor: pointer;
} 
.sidebarCard:hover{
  border-color: gainsboro;
} 
.sidebarCardTitle{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px ;
} 

.logoFooter{
  width: 180px;
}

.footer{
width: 100%;
min-height: 40px;
background-color: #292929;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: 30px;
gap: 15px;
}
.footerAnchor{
  color: #fff;
  text-decoration: none;

}
@media (max-width:630px){
  .gridContainer{
    grid-template-areas: 
    "mainContent" 
    "sidebarContent"  ;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
}
  .sidebarContent{
    min-width: auto;
}
  .footerAnchor{
    font-size: 19px;
}
}
@media (max-width: 463px) {
  .header{
    justify-content: center;
}
  .footer{
    justify-content: center;
}
  
}
